on: [push]
name: golangci-lint
jobs:
  golangci:
    strategy:
      matrix:
        go-version:
          - "1.20"
    name: lint and test
    runs-on: ubuntu-latest
    services:
      etcd:
        image: bitnami/etcd:3.5.5
        env:
          ALLOW_NONE_AUTHENTICATION: yes
          ETCD_ADVERTISE_CLIENT_URLS: http://127.0.0.1:2379
          ETCDCTL_API: 3
        ports:
          - 2379:2379
          - 2380:2380
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.5.2
        with:
          version: v1.55.2
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: test
        run: make test
